.gitattributes
.vscode/


# ignore backend
.gradle
.project
bin/
build/
.settings
*.classpath
backend/google_style.xml

# ignore frontend
**/node_modules
**/dist/
**/build/
.svelte-kit/

**/package-lock.json

# secrets
.env
